* {    
   margin:0px;                                    
}
.rt {
    float: right;
    padding-right:2%;
}
nav {
/*    overflow: hidden;*/
    box-shadow: 0 2px 4px 0 #CFCFCF;/* rgba(0,0,0,0.2);*/
    transition: 0.3s;
    padding: 10px;
    background-color: #f2efef;
    position: fixed;
    top: 0px;
    width: 100%;
    height: auto;
    /* transparent:0.5;
    paddint-left:10px;
    margin-left:-7px; */
}

nav:hover {
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
}

a {
    text-decoration:none;
    padding: 10px;
    color:grey;
}

nav a:hover {
    background-color: #b4deee;
    box-shadow: 0 1px 2px 0 #e8e8e8;
}

.acount {
    background-color:#E2E2E2;
}

.acount:hover {
    background-color:#FFDEAD;
}


.catigories {
    /*background-color:#8AC007;*/
    padding:5px;
    margin-top:6%;
    margin-right:10%;
    margin-left:10%;
}

.center {
    /*background-color:coral;*/
    min-height:500px; /* TODO change this to % */
    margin-top:2%;
    margin-right:10%;
    margin-left:10%;
}
img {
    height:auto;
    width:40%;
    padding:auto;
    border-radius: 8px;
}
.card {
    margin: 12px;
    background-color:#00FFCC;
}
.card:hover {
    /*box-shadow: 0px 0px 4px 4px #CFCFCF;/* rgba(0,0,0,0.4);*/
}

.card:hover {
        box-shadow: 3px 5px 10px 4px #CFCFCF;
}

.footer{
    text-align: center;
    /*text-color: white;*/
    width:96%;
    background-color: grey;/*coral; #8AC007;*/
    padding: 2%;
    position: absolute;/*fixed;*/

}


body {
    scrollbar-width: none;
}

span {
    background-color: #F29D8A;
}

#fadein {
	-webkit-animation: fadeIn 500ms both;
  	animation: fadeIn 500ms both;
  	-webkit-animation-delay: 500ms;
  	animation-delay: 500ms;
}
/* fadeIn animation */
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


/*---------------------------------------*/
/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}

/*---------------------*/
/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}
/*-------------------------*/
