{{ template "header.html" . }}
<body>
<div>
    <br>
    <br>
    <br>
    
<div class=center>
    <h1>My Products</h1>    
    <h2>{{.name}}</h2>    
    
    <h2> {{.email}}</h2>
    
    {{range .products}}
    <div id="id{{.Id}}" class=card>

        <h3>{{.Title}}</h3>
        <h3>{{.Photo}}</h3>

        <div dir=rtl>
            <button href=/update/{{.Id}}> Edit </button>
            <button onclick=deleteProduct({{.Id}})> Delete </button>
        </div>
    </div>
    {{end}}

    <p>search for product</p>
</div>

</div>

<script>
function deleteProduct(id) {
    //var txt;
    if (confirm("ARE YOU SURE you wanna delete item no "+id)) {
        //TODO duble querye to db is not effecien. we need ajax here.
        //location.replace("http://localhost:8080/delete/"+id)
        ajaxDelete(id)
    } // else {document.querySelector('p') = "cancele order"} 
}


function ajaxDelete(id) {
    // Creating the XMLHttpRequest object
    var request = new XMLHttpRequest();
    // Instantiating the request object
    request.open("GET", "delete/"+id)//"greet.php?fname=John&lname=Clark");

    // Defining event listener for readystatechange event
    request.onreadystatechange = function() {
        // Check if the request is compete and was successful
        if(this.readyState === 4 && this.status === 200) {
            // Inserting the response from server into an HTML element
            // TODO show sucssesfull flush message
            document.querySelector("p").innerText = "sucssesfull" ;
            
            document.querySelector("#id"+id).outerHTML = '<h4>deleteing this product sucssesfull </h4>' ;

        } // TODO handle error
    };
    // Sending the request to the server
    request.send();
}

</script>
</body>
</html>
