{{ template "header.html" . }}
<body>
<div>
    <br>
    <br>
    <br>
    
<div class=center>
    <h1>My Products</h1>    
    <h2>{{.name}}</h2>    
    
    <h2> {{.email}}</h2>
    
    {{range .products}}
    <div class=card>

        <h3>{{.Title}}</h3>
        <h3>{{.Photo}}</h3>

        <div dir=rtl>
            <button href=/update/{{.Id}}> Edit </button>
            <button onclick=deleteProduct({{.Id}})> Delete </button>
        </div>
    </div>
    {{end}}

    <p>search for product</p>
</div>

</div>

<script>
function deleteProduct(id) {
    //var txt;
    if (confirm("ARE YOU SURE you wanna delete item no "+id)) {
        //TODO duble querye to db is not effecien. we need ajax here.
        location.replace("http://localhost:8080/delete/"+id)
    } // else {document.querySelector('p') = "cancele order"} 
}
</script>
</body>
</html>
