{{template "header.html"}}
{{ template "header.html" . }}
<body>
<div class=catigories>
    <a href="/cars">cars</a>
    <a href="/animal">animals</a>
    <a href="/mobile">mobile</a>
    <a href="/food">food</a>
    <a href="/motors">motors</a>
    <a href="/peoples">peoples</a>
    <a href="/computers">computers</a>
    <a href="/authers">authers</a>
</div>

<div class="center">                                                        
    <div class=card >
        <h3>{{.product.Title}}</h3>
        <p><b>Details:</b> {{.product.Description}} </p>
        <p><b>Price:</b>   {{.product.Price}}</p>
        {{ range .product.Photos }}
            <a href="/fs/{{.}}"><img src="/fs/{{.}}" /></a>
        {{end}}
    </div>
</div>
</body>
</html>
