{{template "header.html"}}
{{template "header.html" .}}
<body>
<h1>Upload multiple files with fields</h1>
<div class=center>
<p>the owner:  {{.}}</p>
    <form action="/upload" method="post" enctype="multipart/form-data">
        title: <input type="text" name=title placeholder="title"><br><br>
        catigory:
        <select name="catigory">
            <option value="computers">computers</option>
            <option value="mobiles">mobiles</option>
            <option value="motors">motors</option>
            <option value="animals">animals</option>
            <option value="cars">cars</option>
            <option value="services">services</option>
            <option value="others">others</option>
        </select>
        Ditails: <textarea name="description" onkeyup="this.value.length == 200 ? alert('stop') : null;" title="write all details" placeholder="description"></textarea><br><br>
        price: <input type="number" name=price placeholder="price"><br><br>
        photos: <input type="file" name="files" multiple><br><br>
        <input type="submit" value="Submit">
    </form>
</div>
</body>
</html>
