{{template "header.html"}}
<a id="acount" href="/{{.name}}">{{.name}}</a>
   </nav>
<body>
<!-- header is head and navbar -->
    <div id=catigory>
            <a href="/cars">cars</a>
            <a href="/animal">animals</a>
            <a href="/mobile">mobile</a>
            <a href="/food">food</a>
            <a href="/motors">motors</a>
            <a href="computers">computers</a>
            <a href="girls">girls</a>
    </div>
<div id="center">                                                        
    <div id=hi>
    {{ range .products }} 
    <h1>{{.Title}}</h1>
    {{range .Photos}}
    <a href="files/{{.}}"><img src="files/{{.}}" class=card /></a>
    {{end}}
    {{ end }}
    </div>
    <!--<img src="a/imgs/nature.jpg"/>-->
</div>
<!--<img src="data:image/png;base64, .... -->

{{template "footer.html"}}
</body>
<script src=a/app.js></script>
<style>
img {
    height:140px;
    width:210px;
    padding:10px;
    /*border: 10px;
    border-color: grey;*/
}
.card {
    // TODO
}
.card:hover {
    box-shadow: 5px 6px 4px 4px #CFCFCF;/* rgba(0,0,0,0.4);*/
}
</style>
</html>
