{{template "header.html"}}
<a id="acount" href="/{{.}}">{{.}}</a>
   </nav>
<body>
<!-- header is head and navbar -->
<div id="center">                                                        
    <img src="a/imgs/food2.png"/>
    <img src="a/imgs/food3.png"/>
    <img src="a/imgs/food4.png"/>
    <img src="a/imgs/food5.png"/>
    <img src="a/imgs/food7.png"/>
    <img src="a/imgs/food1.png"/>
    <img src="a/imgs/food6.png"/>
    <img src="a/imgs/bot.png"/>
    <img src="a/imgs/bot3.png"/>
    <img src="a/imgs/bot2.png"/>
    <img src="a/imgs/turtel.jpg"/>
    <img src="a/imgs/bot4.jpg"/>
    <img src="a/imgs/vs.png"/>
<img src="a/imgs/vs.jpg"/>
</div>
<!--<img src="data:image/png;base64, .... -->

</body>
<script src=a/app.js></script>
<style>
img {
    height:150px;
    width:160px;
    padding:10px;
}
</style>
</html>
