{{template "header.html"}}
<a id="acount" href="/{{.name}}">{{.name}}</a>
   </nav>
<body>
<!-- header is head and navbar -->
<div class=catigories>
    <a href="/cars">cars</a>
    <a href="/animal">animals</a>
    <a href="/mobile">mobile</a>
    <a href="/food">food</a>
    <a href="/motors">motors</a>
    <a href="computers">computers</a>
    <a href="girls">peoples</a>
</div>
<div class="center">                                                        
    {{ range .photos }} 
    <a href="/fs/{{.}}"><img src="/fs/{{.}}" class=card /></a>
    {{ end }}
</div>
<!--<img src="data:image/png;base64, .... -->
<div class=footer> footer  copyryght 2020 </div>
</body>
<script src=/a/app.js></script>
<style>

</style>
</html>
