{{template "header.html"}}
   <div class=rt>
   {{if .name }} 
   <a href="/{{.name}}" class=acount>{{.name}}</a>
   {{- else}}
   <a href="/login">Login</a>
   <a href="/sign">Signup</a>
   {{- end}}
   </div>
   </nav>
<body>
<!-- header is head and navbar -->
<div class=catigories>
    <a href="/cars">cars</a>
    <a href="/animal">animals</a>
    <a href="/mobile">mobile</a>
    <a href="/food">food</a>
    <a href="/motors">motors</a>
    <a href="/computers">computers</a>
    <a href="/girls">girls</a>
</div>
<div class="center">                                                        
    {{ range .products }} 
    <a href="product/{{.Id}}">
    <div class=card>
        <h3>{{.Title}}</h3>
        <p><b>Price:</b> {{.Price}} </p>
        <img src="/fs/{{.Photo }}" />
    </div>
    </a>
    {{ end }}
</div>
<!--<img src="data:image/png;base64, .... -->

{{template "footer.html"}}
</body>
<script src=/a/app.js></script>
<style>
img {
    /*
    height:140px;
    width:210px;
    padding:10px;
    border: 10px;
    border-color: grey;*/
}

.card {
    margin: 12px;
    background-color: #00FFCC;
    padding:10px;

    /*border: solid;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    // height:200px;
    // width:300px;
    //padding:10px;
    */
}
.card:hover {
    /*box-shadow: 3px 5px 10px 4px #CFCFCF;*/
    box-shadow: 0px 0px 4px 4px #CFCFCF;/* rgba(0,0,0,0.4);*/
}
</style>
</html>
