{{template "header.html"}}
</nav>
<body>
<h1>Upload multiple files with fields</h1>

<p>my email is : {{.}}</p>
<form action="/upload" method="post" enctype="multipart/form-data">
    name: <input type="text" value=name placeholder="name"><br>
    catigory: <input type="text" value=catigory placeholder="catigory"><br>
    Discription: <textarea value="description" onkeyup="return geoListing.getLength(event,this)" title="100 caractères" placeholder="ok"></textarea><br>
    photos: <input type="file" name="files" multiple><br><br>
    <input type="submit" value="Submit">
</form>
</body>
</html>

